# 忽略所有文件夹下 .vs 目录及其子文件
.vscode
.vs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/

# 以后项目使用cmake生成, 便于维护和管理
# 忽略直接由netbeans生成的项目附属文件
dist
build
.dep.inc
nbproject
Makefile

# 忽略CMake生成的附属文件
build/*
nbproject
CMakeCache.txt
CMakeFiles
cmake_install.cmake
compile_commands.json
Makefile
a.out


